html {
  height: 100%;
  font-size: 16px;
  font-family: arial;
}

body {
  height: 100%;
  margin: 0;
}

#interface {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
#interface > header, #interface > footer {
  padding: 0.5em 1em;
  background-color: #EEE;
  display: flex;
  justify-content: space-between;
}
#interface > header {
  order: -1000;
}
#interface > header h1 {
  margin: 0;
}
#interface > footer {
  order: 1000;
  font-size: smaller;
}

#app {
  padding: 1em;
}

form {
  display: grid;
  gap: 0.5em;
}
form fieldset {
  display: grid;
  gap: 0.5em;
  padding: 0.5em;
  border: 1px solid black;
}
form .description {
  grid-column: 1/-1;
}
form > div, form > fieldset > div {
  display: grid;
  grid-template-columns: 20ch 30ch auto;
  gap: 1ch;
  align-items: center;
}
form label {
  flex: 0 0 20ch;
}
form label + * {
  flex: 0 0 30ch;
}